body {
  font-family:Arial, Helvetica, sans-serif;
/*   font-size: 16px; */
/*     min-width: 800px; */
} 

h1, h3{
  font-weight: 800;
}

body{
/*   background: url(https://cdn.glitch.global/7252e33f-9435-4935-b23d-68d0102bb6d5/background_1.webp?v=1693995123230) top left no-repeat; */
  background-size: cover;
  background-attachment: fixed;
  font-size:18px;
  color: darkslategray;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body * {
  transition: top 0.5s ease;
}
.ranktable{
  width: 400px;
  max-width: 400px;
  min-width: 400px;
  padding: 10px;
  
  background-color: rgba(0, 0, 0, .50);
  border-radius: 10px;
}
.ranktable .rankitems{
  display: flex;
  flex-direction: column;

  position: relative;
}
/* .containerheader{
  margin-bottom: 20px;
  font-size: 1.5em;
} */
.ranktable .rankcolumntitle{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-size: .8em;
  font-weight: 600;
  margin-bottom: 10px;
}
.ranktable .rankitem{
  display: flex;
  gap: 10px;
  font-weight: 700;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;

  position: absolute;
  width: -webkit-fill-available
}
.ranktable .rankitem .number{
  width: 1.2em;
  height: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.ranktable .rankitem .image{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid transparent
}
.ranktable .rankitem .name{
      text-wrap: nowrap;
    overflow: hidden;
    word-break: break-word;
    white-space: nowrap;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;

}
.ranktable .rankitem .score{
/*         flex-grow:1;
  text-align: right; */
  margin-left: auto
}

/*       .ranktable .rankitem:nth-child(-n+3) */
.ranktable .rankitem.top{
/*   background-color: #00000073; */
  background-color: rgba(0, 0, 0, .50);
/*   color: white; */
}
.ranktable .rankitem.top .number{
  background: url(https://cdn.glitch.global/7252e33f-9435-4935-b23d-68d0102bb6d5/medal_icon.webp?v=1693995139474) center center no-repeat;  
  background-size: contain;
}
.ranktable .rankitem.top .image{
  border-color: white;
}